div(class="col-sm-#{cols} post-box post",id=post.id, room='post-#{post.id}')
    div(class='container-relative')
        a(class='main-link', href=post.url, target=target)
            span(class='text-info post-box-title post-title')= post.title
            img(src=post.pic.originalUrl, class='container-full')
            if post.userHasRights(user)
                div(class='post-box-options showOptionsAlways#{!!!showOptionsAlways}')
                    a(class='fa fa-trash-o', href=post.deleteUrl, title='Delete Post', target=target)
                    a(class='fa fa-pencil', href=post.editUrl, title='Edit Post', target=target)
                    a(class='fa fa-eye', href=post.url, title='View Post', target=target)
            div(class='post-box-tags showOptionsAlways#{!!!showOptionsAlways}')
                div(class='text-info')
                    | City: 
                    span(class='_city') #{post.city.name}
                div(class='text-danger')
                    | Restaurant: 
                    span(class='_restaurant') #{post.restaurant.name}
                div(class='text-warning')
                    | Category: 
                    span(class='_category') #{post.category.name}
