extends ../layout

block content
    div(class='panel panel-primary post', room='post-#{post.id}' id=post.id, url=post.url)
        div(class="form-group panel-heading")
            input(class="input-sm form-control post-title", type="text", value=post.title, placeholder="Enter a title")
        div(class='panel-body')
            img(src=post.pic.originalUrl, width='100%')
            br
            br
            textarea(class='post-description form-control', rows='8', placeholder="Enter a description")= post.description
            br
            a(class='post-update', class="btn btn-success") Save
