extends ../layout

block content
    div(class='panel panel-primary post', room='post-#{post.id}', id=post.id, url=post.url)
        div(class='panel-heading')
            block panel-heading
                span(class='post-title') #{post.title} &nbsp;
                if post.userHasRights(user)
                    ul(class='list-inline pull-right')
                        li
                            a(class='', href=post.editUrl) Edit
                        li
                            a(class='text-danger', href=post.deleteUrl) Delete
        div(class='panel-body')
            p(class='text-primary') Uploaded 
                if !!post.user && !!post.user.name
                    | by <a href='#{post.userUrl}'>#{post._user.profile.name}</a> 
                | #{time} 

                if !!post._category && !!post._category.name
                    | of 
                    a(class='_category text-warning', href='#{post._category.url}') #{post._category.name}
                    | 
                if !!post._city && !!post._city.name
                    | in 
                    a(class='_city text-info', href='#{post._city.url}') #{post._city.name}
                    | 
                if !!post._restaurant && !!post._restaurant.name
                    | at 
                    a(class='_restaurant text-danger', href='#{post._restaurant.url}') #{post._restaurant.name}
                    | 

            img(src=post.pic.originalUrl, width='100%')
            br
            br
            p(class='post-description')= post.description
