extends ../layout

block header
    include includes/header

block content
    div(class='panel panel-default restaurant', room='restaurant-#{restaurant._id}')
        div(class='panel-body')
            include includes/info

            div.row
                legend.lead Menu
                - var items = restaurant.nonEmptyMenu
                include ../includes/itemList

            div.row.padded
                legend.lead Posts
                - var cols = 3
                include ../includes/posts

            if (!!restaurant.reviews.user_reviews.length)
                div.row.review-container
                    legend.lead Google Reviews
                    - var counter = 0;
                    - for rv in restaurant.reviews.user_reviews.slice(0,4)
                        - counter += 1;
                        div(class='col-sm-3 #{counter > 2 ? "hidden-xs": ""}')
                            div.panel
                                a(target='blank', href=rv.author_url)= rv.author_name
                                | : !{truncateWords_html(rv.text, 30)} 
                                a(target='blank', href=restaurant.links.google) . . .
