extends ../layout

block content
    div(class='panel panel-default album', id='#{album._id}', room='album-#{album._id}')
        div(class='panel-body', room='albums-user-#{album._user._id}')

            div(class='clearfix row-fluid')

                div(class='col-sm-12')
                    div(class='container-fluid')
                        div(class='row-fluid')
                            div(class='col-sm-12')
                                legend.pull-left
                                    | Delete Album
                                    if album.userHasRights(user)
                                        div.pull-right
                                            button(class='btn btn-sm btn-danger album-delete', deletePics='true') Delete Pics and Album
                                            button(class='btn btn-sm btn-warning album-delete', deletePics='false') Delete Only Album
                                            a(class='btn btn-sm btn-info', href=album.url) Cancel
                                div.lead #{album.name}

                                div.row-fluid.padded.clearfix= album.description

                                - var cols = 3
                                - var posts = album.pics.reverse()
                                div#album-posts
                                - each post in posts
                                    include ../includes/post
